{% extends 'temp/snipest/base.html' %}
{% load static %}
{% load cart %}
{% block contentbase %}

 <!-- Hero Start -->
        <div class="hero" >
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-6">
                        <div class="hero-text">
                            <h1>Обучающий портал Повысит Ваши навыки</h1>
                            <p>
                                Забудьте о дорогих школах, просиживании пар в пыльных университетах, курсах-однодневках. На этих сайтах есть все, что вам нужно — от искусства до технологий. Здесь можно выучить практическое “все-что-угодно”, от приготовления хуммуса до создания веб-приложения. И большинство из них бесплатны. Не понятно только одно: чего ты ждешь?
                            </p>
                            <div class="hero-btn">
                                <a class="btn" href="">Присоединиться</a>
                                <a class="btn" href="">Контакты</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 d-none d-md-block">
                        <div class="hero-image">
                            <img src="{% static '' %}temp/img/bk.webp" alt="Hero Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->


        <!-- About Start -->
        <div class="about wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-6">
                        <div class="about-img">
                            <img src="{% static 'temp/img/e-blog.png' %}" alt="Image">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <div class="section-header text-left">
                            <p>Узнайте о Нас больше</p>
                            <h2>Добро пожаловать в электронное обучение</h2>
                        </div>
                        <div class="about-text">
                            <p>
                                учебный портал - это доступ ко всем курсам, ресурсам и инструментам, которые облегчают преподавание и обучение. С технической точки зрения, это веб-сайт, который служит хранилищем учебных материалов.                            </p>
                            </p>
                            <p>
                                Если вы выбираете индивидуальный портал электронного обучения, пожалуйста, ознакомьтесь с нашим предложением по разработке веб-портала                            </p>
                            <a class="btn" href="">Узнать больше</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Service Start -->
        <div class="service">
            <div class="container">
                <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <p>Что мы делаем</p>
                    <h2>Портал электронного обучения</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
                        <div class="service-item">
                            <div class="service-icon">
                            </div>
                            <h3>Кодирование</h3>
                            <p>
                                Используйте HTML, PYTHON, DJango, CSS, JS, используя адаптивный веб-дизайн для улучшения взаимодействия с посетителями, используйте преимущества социальных сетей                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="service-item active">
                            <div class="service-icon">
                            </div>
                            <h3>Счета</h3>
                            <p>
                                Создавайте качественный контент, который заинтересует пользователей системы управления обучением (LMS), используйте подходящие ключевые фразы, чтобы ваша аудитория могла найти ваш контент в Google                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="service-item">
                            <div class="service-icon">
                            </div>
                            <h3>Маркетинг</h3>
                            <p>
                                Студенты привыкли работать онлайн и ценят гибкость. Онлайн-курсы менее подвержены сбоям в работе, как мы убедились во время недавней пандемии.                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->


        <!-- Class Start -->
        <div class="class">
            <div class="container">
                <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <p>Наши занятия</p>
                    <h2>Расписание онлайн-занятий</h2>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul id="class-filter">
                            <li  class="filter-active">Все Онлайн-занятия</li>
                        </ul>
                    </div>
                </div>
                <div class="row class-container">
                    {% for cor in cour %}
                    <div class="col-lg-4 col-md-6 col-sm-12 class-item  wow fadeInUp" data-wow-delay="0.3s">
                        <div class="class-wrap">
                            <div class="class-img">
                                <a href="/courseview/{{ cor.id }}"><img src="{{cor.photo.url}}" alt="Image"></a>
                            </div>
                            <div class="class-text">
                                <div class="class-teacher">
                                    {% if cor|is_in_cart:request.session.cart %}
                                        <h3 style="font-size: 12px">Вы Уже Приобрели Этот курс</h3>
                                    {% else %}
                                        <h3>Enoll Now</h3>
                                    <form method="post">
                                        {% csrf_token %}
                                        <input type="text" hidden name="paid" value="{{ cor.id }}" >
                                        <input type="submit" style="border-radius: 30px; color: #0aa4f7;background-color: lightpink" value="+" >
                                    </form>
                                    {% endif %}
                                </div>
                                <h2>{{cor.course}}</h2>
                                <div class="class-meta">
                                    <h2>${{cor.price}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Class End -->

    {% include 'temp/snipest/discount.html' %}

        <div class="price">
            <div class="container">
                <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <p>Онлайн-пакет</p>
                    <h2>Тарифный план онлайн</h2>
                </div>
                <div class="row">
                    {% for i in price %}
                    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="price-item">
                            <div class="price-header">
                                <div class="price-title">
                                    <h2>{{i.pakg}}</h2>
                                </div>
                                <div class="price-prices">
                                    <h2><small>$</small>{{i.price}}<span>/ mo</span></h2>
                                </div>
                            </div>
                            <div class="price-body">
                                <div class="price-description">
                                    <ul>
                                        <li>{{i.foffere}}</li>
                                        <li>{{ i.soffere }}</li>
                                        <li>{{ i.toffere }}</li>
                                        <li>{{ i.fouoffere }}</li>
                                        <li>{{ i.fivoffere }}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="price-footer">
                                <div class="price-action">
                                    <form method="post">
                                        {% csrf_token %}
                                    <input hidden type="text" name="plan" value="{{i.id}}">
                                    <input style="background-color: lightpink;color: #0D47A1;border-radius: 10px" type="submit" value="Join Now">
                                        </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        
        


        {% include 'temp/snipest/team.html' %}


       

{% endblock contentbase %}